!**/src/main/**/target/
!**/src/test/**/target/
### IntelliJ IDEA ###
.idea
*/.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
*/dist/
.vscode/
*/target/
target
*/.mvn
*/*.iml
*/target

